.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 0px 20px;
  border: 1px solid #888;
  width: 35%;
  font-family: roboto, Arial;
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 25px;
  font-weight: bold;
  margin-top: 0%;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  background-color: #888;
}

.modal-content > div {
  width: 90%;
  /* border: 1px solid black; */
  margin: 20px auto;
}
.modal-content > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.modal-content > div:nth-child(2) > div {
  width: 80%;
  margin: auto;
}
.modal-content > div:nth-child(2) > div:nth-child(1) > img {
  width: 100%;
}
.modal-content > div:nth-child(2) > div:nth-child(2) {
  text-align: center;
}
.modal-content > div:nth-child(2) > div:nth-child(2) > p:nth-child(1) {
  color: #616161;
  font-size: 20px;
  font-weight: bolder;
}
.modal-content > div:nth-child(2) > div:nth-child(2) > p:nth-child(2) {
  color: gray;
  margin-top: -10px;
}
.modal-content > .box2 {
  /* height: 150px; */
  margin: auto;
  width: 95%;
  display: flex;
  border: 1px solid gray;
  justify-content: space-between;
  border-radius: 10px;
  /* padding: 10px; */
}
.modal-content > .box2:hover {
  background-color: #e0e0e0;
}
.modal-content > div:nth-child(4) {
  margin-top: 30px;
}
.box2 > div:nth-child(1) {
  width: 40%;
}
.box2 > div:nth-child(2) {
  width: 60%;
}
.box2 > div:nth-child(1) > a > img {
  width: 100%;
  margin-top: 12px;
}
.box2 > div:nth-child(2) > h3 {
  color: #616161;
}
.box2 > div:nth-child(2) > p {
  font-size: 15px;
  width: 100%;
  color: gray;
}
.modal-content > .box2 > div:nth-child(1) > img {
  width: 100%;
}
/* .modal-content>.box2>div:nth-child(3)>img{
  width: 50%;
  border: 1px solid blue;
 
} */
.modal-content > .box2:nth-child(4) > div > a > img {
  width: 90%;
  height: 150px;
  /* border: 1px solid black; */
}
.modal-content > .footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #757575;
  font-size: 18px;
  margin-bottom: 0px;
}
.modal-content > .footer > p:nth-child(1):hover {
  text-decoration: underline;
}
.modal-content > .footer > p:nth-child(2):hover {
  text-decoration: underline;
}
